.imgCarrito {
  display: inline-flex;
  margin-left: 30px;
  margin-right: 10px;
  width: 35px;
}

.numerito {
  
  margin: 10px;
  text-align: center;
  float: right;
}
.card{
  margin-left: 20px;
  margin-right: 20px;
}