.card{
    border: 0.5px solid #000000 !important;
    font-size: 15px;
    line-height: 30px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    color:#333333 !important;
    background-color:#ffffff   !important;
};